<template>
  <div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-md max-w-md w-full">
      <h1 class="text-2xl font-bold mb-4">create search app</h1>
      <form @submit.prevent="search">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
          <input
            id="email"
            type="email"
            v-model="email"
            :class="{ 'border-red-500': !isValidEmail(email) && email.length > 0 }"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
            required
          />
          <span v-if="!isValidEmail(email) && email.length > 0" class="text-red-500 text-sm">Invalid email address</span>
        </div>
        <div class="mb-4">
          <label for="number" class="block text-sm font-medium text-gray-700">Number:</label>
          <input
            id="number"
            type="text"
            v-model="number"
             @input="formatInput"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
        </div>
        <button
          type="submit"
          :disabled="!isValidEmail(email) || number.length === 0"
          class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        >
          Search
        </button>
      </form>
      <div v-if="results.length" class="mt-4">
        <h2 class="text-xl font-bold">Results:</h2>
        <ul class="mt-2">
          <li v-for="result in results" :key="result.email" class="text-gray-800">{{ result.email }} - {{ result.number }}</li>
        </ul>
      </div>
      <div v-if="error" class="mt-4 text-red-500 text-sm">{{ error }}</div>
    </div>
  </div>
</template>

<script>
import {  ref } from 'vue'; 

import axios from 'axios';

export default {
  setup() {
    const email = ref('');
    const number = ref('');
    const results = ref([]);
    const error = ref('');
    const formattedNumber = ref('');

const formatInput = (event) => {
  let value = event.target.value.replace(/\D/g, ''); 
     value = value.replace(/\B(?=(\d{2})+(?!\d))/g, '-'); 
     number.value = value;
     event.target.value = value; 
};

   const isValidEmail = (email) => {
      const re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@(([^<>()[\]\\.,;:\s@"]+\.[^<>()[\]\\.,;:\s@"]{2,})|(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(\[?[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}:[A-Fa-f0-9]{0,4}\]?))$/;
      return re.test(String(email).toLowerCase());
    };

    const search = async () => {
      results.value = [];
      error.value = '';
      try {
        const response = await axios.get('http://localhost:3000/search', {
          params: {
            email: email.value,
            number: number.value.replace(/-/g, ''),
          },
        });

        results.value = response.data;
        if (results.value.length === 0) {
          error.value = 'No results found';
        }
      } catch (err) {
        error.value = err.response.data.error;
      }
    };

    return {
      email,
      number,
      results,
      error,
      isValidEmail,
      search,
      formatInput
    };
  },
};
</script>


